# Mission to Mars
In this assignment, you will build a web application that scrapes various websites for data related to the Mission to Mars and displays the information in a single HTML page. The following outlines what you need to do.
## Step 1 - Scraping

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News
* Scrape the NASA Mars News Site: http://mars.nasa.gov/news/
* Collect the latest News Title and Paragraph Text
* Assign the text to variables that you can reference later.

In [47]:
url = 'http://mars.nasa.gov/news/'
browser.visit(url)

In [97]:
# Iterate through all pages
for x in range(2):
    # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
    # Retrieve all elements that contain news information
    slides = soup.find_all('li', class_='slide')

    # Iterate through each book
    for slide in slides:
        # Use Beautiful Soup's find() method to navigate and retrieve attributes

        # News Date
        list_date = slide.find('div', class_='list_date')
        article_date = list_date.text.strip()
        
        # News Title
        content_title = slide.find('div', class_='content_title')
        news_title = content_title.text.strip()
        link = content_title.find('a')
        href = link['href']
        
        #Paragraph Body
        teaser_body = slide.find('div', class_='article_teaser_body')
        news_p = teaser_body.text.strip()
        
        
        print('-----------')
        print(article_date)
        print(news_title)
        print(news_p)
        print("https://mars.nasa.gov" + href)

    # Click the 'Next' button on each page
    try:
        browser.click_link_by_partial_text('more')
          
    except:
        print('-----------')
        print("Scraping Complete")
        print('-----------')

-----------
Scraping Complete
-----------
-----------
Scraping Complete
-----------

### JPL Mars Space Images - Featured Image
* Visit the url for JPL Featured Space Image here:  https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars
* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
* Make sure to find the image url to the full size .jpg image.
* Make sure to save a complete url string for this image.

In [49]:
# Collect information about the Featured Space Image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain news information
fancybox = soup.find('a', class_='button fancybox')
data_link = 'https://www.jpl.nasa.gov'+ fancybox['data-link']

In [68]:
# Collect information about the Featured Space Image
url = data_link
browser.visit(url)

# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain news information

secondary_column = soup.find('div', id='secondary_column')

full_res = secondary_column.find_all('a')[3]
img_url = 'https:'+ full_res['href']


#data_link = 'https:'+ fancybox['data-link']

In [73]:
# Use the requests library to download and save the image from the `img_url` above
import requests
import shutil
response = requests.get(img_url, stream=True)
with open('img.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)

In [74]:
# Display the image with IPython.display
from IPython.display import Image
Image(url='img.jpg')

### Mars Weather

* Visit the Mars Weather twitter account here: https://twitter.com/marswxreport?lang=en
* Scrape the latest Mars weather tweet from the page. 
* Save the tweet text for the weather report as a variable called mars_weather.

In [89]:
# Collect information about the Featured Space Image
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain tweets information
stream_data = soup.find('div', class_='stream')
stream_item = stream_data.find('li', class_='js-stream-item stream-item stream-item ')
stream_text = stream_item.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')
mars_weather = stream_text.text.strip()
mars_weather

'InSight sol 167 (2019-05-17) low -100.5ºC (-148.9ºF) high -20.4ºC (-4.6ºF)\nwinds from the SW at 4.7 m/s (10.6 mph) gusting to 13.5 m/s (30.3 mph)\npressure at 7.50 hPapic.twitter.com/0Eqt9nN21o'

### Mars Facts
* Visit the Mars Facts webpage here:
    https://space-facts.com/mars/
* Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
* Use Pandas to convert the data to a HTML table string.

In [74]:
import pandas as pd
url = 'https://space-facts.com/mars/'

In [75]:
table = pd.read_html(url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [76]:
df = table[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [77]:
df.columns = ['Fact', 'Value']
df.head()

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [78]:
df.set_index('Fact', inplace=True)
df.head()

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)

In [84]:
html_table = df.to_html()
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Fact</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

### Mars Hemispheres

* Visit the USGS Astrogeology site (https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution images for each of Mar's hemispheres.
* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [85]:
# Collect information about the Featured Space Image
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')
# Retrieve all elements that contain news information
product_section = soup.find('div', id='product-section')
items = product_section.find_all('div', class_='item')

In [90]:
hemisphere_images = []
for item in items:
    link = item.find('a')
    image_url = 'https://astrogeology.usgs.gov' + link['href']
    
    title = item.find('h3')
    image_title = title.text.strip()
    title_list = image_title.split(" ")
    list_to_remove =['Hemisphere', 'Enhanced']
    clean_name = list(set(title_list).difference(set(list_to_remove)))
    hemisphere_name = ' '.join(clean_name)
    
    
    # Store values in the dictionary
    hemisphere_images.append(
    {
        "name" : hemisphere_name,
        "url" : image_url
    })

    print('-----------')
    print(hemisphere_name)
    print(image_url)

-----------
Cerberus
https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
-----------
Schiaparelli
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
-----------
Syrtis Major
https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
-----------
Valles Marineris
https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced

In [96]:
# Final list of dictionaries with Hehisphere names and image URLs
type(hemisphere_images), type(hemisphere_images[0]), hemisphere_images[0].keys()

(list, dict, dict_keys(['name', 'url']))

In [91]:
hemisphere_images

[{'name': 'Cerberus',
  'url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'},
 {'name': 'Schiaparelli',
  'url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'name': 'Syrtis Major',
  'url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'},
 {'name': 'Valles Marineris',
  'url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]